<%- include('partials/header'); -%>

<% let truncateString = (str, num) => {%>
<% if (str.length <= num) {%>
<%   return str%>
<% } else {%>
<%   return str.slice(0, num) + '...'%>
<% }%>
<% } %>

<h1>Home</h1>
<p><%= startingContent %></p>
<% existingPosts.forEach(post => {%>
<h1><%= post.postTitle %></h1>
<p>
  <%= truncateString(post.postBody, 100) %>
  <a href='/posts/<%=post._id %>'>Open</a>
</p>
<%}) %>

<%- include('partials/footer'); -%>
