<%- include('partials/header'); -%>

<h1><%= chosenPost.postTitle %></h1>
<p><%= chosenPost.postBody %></p>
<br>
<form action="/delete" method="post">
  <button type="submit" name="postId" value="<%= chosenPost._id %>" class="btn btn-danger">Delete post</button>
</form>

<%- include('partials/footer'); -%>
